<%- include('../partials/header/header.ejs') %>

  <body>
    <div class="container-scroller">
      <!-- partial:../partials/_navbar.html -->
      <%- include('../partials/navbar/navbar.ejs') %>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <%- /* include('../partials/sidebar/right-sidebar.ejs'); */ %>
          <!-- partial -->
          <!-- partial:../partials/_sidebar.html -->
          <%- include('../partials/sidebar/sidebar.ejs') %>
            <!-- partial -->
            <div class="main-panel">
              <div class="content-wrapper">
                    <div class="row">
                      <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12 col-md-6 col-xl-8 mb-1 mb-xl-3">
                                <h3 class="font-weight-bold">Requests Status</h3>
                              </div>
                            </div>
                            <% if(userFormRequests && userFormRequests.filter(reqForm => ['approved', 'process'].includes(reqForm.status))) { %>
                            <div class="row align-items-center justify-content-center">
                              <div class="col-xl-12 ">
                                <div class="row justify-content-between">
                                  <div class="col-8 col-md-6 col-xl-5 mt-2">
                                    <div class="input-group justify-content-center align-items-center">
                                      <h5 class="mr-1">Search:</h5>
                                      <input type="date" class="form-control d-flex" name="name"
                                        id="search-request-date" placeholder="Search Date" aria-label="search"
                                        aria-describedby="search">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive text mt-5">
                              <table class="table table-bordered expandable-table no-footer">
                                <thead>
                                  <tr class="text-center">
                                    <th>Fullname</th>
                                    <th>Purpose</th>
                                    <th>Created</th>
                                    <th>Remark</th>
                                    <th>Status</th>
                                    <th>Admin Approved</th>
                                    <th>Supply Approved</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% userFormRequests.forEach(({ reqForm, user })=> { %>
                                      <% if(reqForm.status === 'approved' || reqForm.status === 'process') {%>
                                  <tr class="text-center">
                                    <td><%= user.fullname %></td>
                                    <td>
                                      <button type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#modal<%= reqForm._id %>">
                                        View Purpose
                                      </button>
                                    </td>
                                    <td><%= reqForm.dateCreated %></td>
                                    <td><%= reqForm.remark %></td>
                                    <td><label class="badge badge-<%= reqForm.status %> text-capitalize"><%= reqForm.status %></label></td>
                                    <td><%= reqForm.adminApproved %></td>
                                    <%if(reqForm.supplyApprove) {%>
                                      <td><%= reqForm.supplyApproved %></td>
                                    <% }else{ %>
                                      <td>Wating for Supply Approval</td>
                                    <% } %>
                                  </tr>
                                  <% } %>
                                    <% }); %>
                                </tbody>
                              </table>
                            </div>
                            <% }else{ %>
                              <p>No Request has been approved.</p>
                              <% } %>
                          </div>
                          <!-- modal start -->
                          <% userFormRequests.forEach(({ reqForm, user })=> { %>
                            <% if(reqForm.status === 'approved' || reqForm.status === 'process') {%>
                          <div class="modal fade" id="modal<%= reqForm._id %>" data-backdrop="static" data-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">Purpose</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body text-justify">
                                  <%= reqForm.purpose %>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% } %>
                          <% }); %>
                        </div>
                      </div>
                      <!-- This is for status declined && completed -->
                      <% if(userFormRequests && userFormRequests.filter(reqForm => ['completed', 'declined'].includes(reqForm.status)).length > 0) { %>

                      <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12 col-md-6 col-xl-8 mb-1 mb-xl-3">
                                <h3 class="font-weight-bold">Requests Status</h3>
                              </div>
                            </div>
                            <div class="row align-items-center justify-content-center">
                              <div class="col-xl-12 ">
                                <div class="row justify-content-between">
                                  <div class="col-8 col-md-6 col-xl-5 mt-2">
                                    <div class="input-group justify-content-center align-items-center">
                                      <h5 class="mr-1">Search:</h5>
                                      <input type="date" class="form-control d-flex" name="name"
                                        id="search-request-date" placeholder="Search Date" aria-label="search"
                                        aria-describedby="search">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive text mt-5">
                              <table class="table table-bordered expandable-table no-footer">
                                <thead>
                                  <tr class="text-center">
                                    <th>Fullname</th>
                                    <th>Purpose</th>
                                    <th>Created</th>
                                    <th>Remark</th>
                                    <th>Status</th>
                                    <th>Action Date</th>
                                    <th>Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% userFormRequests.forEach(({ reqForm, user })=> { %>
                                      <% if(reqForm.status === 'completed' || reqForm.status === 'declined') {%>
                                  <tr class="text-center">
                                    <td><%= user.fullname %></td>
                                    <td>
                                      <button type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#modal<%= reqForm._id %>">
                                        View Purpose
                                      </button>
                                    </td>
                                    <td><%= reqForm.dateCreated %></td>
                                    <td><%= reqForm.remark %></td>
                                    <td><label class="badge badge-<%= reqForm.status %> text-capitalize"><%= reqForm.status %></label></td>
                                    <td><%= reqForm.adminApproved %></td>
                                    <td>
                                      <form action="" method="post">
                                        <div class="btn-group">
                                          <a href="#" class="btn btn-info p-2" title="Edit">
                                            <i class="mdi mdi-square-edit-outline"></i>
                                          </a>
                                          <button type="submit" class="btn btn-danger p-2"
                                            title="Delete">
                                            <i class="mdi mdi-delete"></i>
                                          </button>
                                        </div>
                                      </form>
                                    </td>
                                  </tr>
                                  <% } %>
                                    <% }); %>
                                </tbody>
                              </table>
                            </div>
                            
                              
                          </div>
                          <!-- modal start -->
                          <% userFormRequests.forEach(({ reqForm, user })=> { %>
                            <% if(reqForm.status === 'completed' || reqForm.status === 'declined') {%>
                          <div class="modal fade" id="modal<%= reqForm._id %>" data-backdrop="static" data-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">Purpose</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body text-justify">
                                  <%= reqForm.purpose %>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% } %>
                          <% }); %>
                        </div>
                      </div>
                      <% } %>
                    </div>
              </div>
              <!-- content-wrapper ends -->


              <!-- partial:../partials/_footer.html -->
              <%- include('../partials/copyright/copyright.ejs'); %>
              <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <%- include('./../partials/footer/footer.ejs') %>