<%
function activeClass(link) {
    return currentUrl === link ? 'active' : '';
}
%>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <% if(user.role === 'member'){ %>
      <li class="nav-item <%= activeClass('/') %>">
        <a class="nav-link" href="/">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item <%= activeClass('/requests') %>">
        <a class="nav-link" href="/requests">
          <i class="mdi mdi-file-multiple menu-icon"></i>
          <span class="menu-title">Requests</span>
        </a>
      </li>
      <% }else if(user.role === 'admin') {%>
      <li class="nav-item <%= activeClass('/admin') %>">
        <a class="nav-link" href="/admin">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item <%= activeClass('/users/requests') %>">
        <a class="nav-link" href="/users/requests">
          <i class="mdi mdi-file-multiple menu-icon"></i>
          <span class="menu-title">Requests</span>
        </a>
      </li>
      <% }else if(user.role === 'supply') {%>
      <li class="nav-item <%= activeClass('/admin') %>">
        <a class="nav-link" href="/supply">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item <%= activeClass('/users/requests') %>">
        <a class="nav-link" href="/users/requests">
          <i class="mdi mdi-file-multiple menu-icon"></i>
          <span class="menu-title">Requests</span>
        </a>
      </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="pages/documentation/documentation.html">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Help Center</span>
        </a>
      </li>
    </ul>
  </nav>